* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-size: 62.5%;
	font-family: "Roboto", sans-serif;
	/* font-family: "Sedgwick Ave", cursive; */
}

.hero-shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.8);
    z-index: -1;
}

/* header */

.header{
    position: relative;
    height: 20rem;
    background-image: url("../img/header_img_640.jpg");
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.header h1{
    font-family: "Sedgwick Ave", cursive;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0px 2px 5px black;
    font-size: 2rem;
    letter-spacing: 10px;
}

.header .welcome-text{
    font-size: 1rem;
}


/* media */

@media (min-width:768px){
    .header{
        height: 30rem;
        background-image: url("../img/header_img_1920.jpg");
        background-size: 85%;
        background-repeat: no-repeat;
    }
    .header h1{
        font-size: 4rem;
    }
    .header .welcome-text{
        font-size: 1.5rem;
    }
}

@media (min-width:1200px){
    .header{
        background-size: 60%;
    }
}