* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	height: 2000px;
}

body {
	font-size: 62.5%;
	font-family: "Roboto", sans-serif;
}

.hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: -1;
}

/* header */

.header {
	position: relative;
	height: 20rem;
	background-image: url("../img/header_img_640.jpg");
	background-size: cover;
	background-position: center;
	z-index: 1;
}

.header h1 {
	font-family: "Sedgwick Ave", cursive;
	font-weight: bold;
	font-size: 2rem;
	text-transform: uppercase;
	text-shadow: 0px 2px 5px black;
	letter-spacing: 10px;
}

.header .welcome-text {
	font-size: 1rem;
}

/* nav */

.navbar {
	background-color: blanchedalmond;
}
.navbar i {
	font-size: 2.8rem;
}

.nav-link {
	font-size: 1.1rem;
	text-transform: uppercase;
}

/* aboutus */

.aboutus-top-section,
.aboutus-bottom-section {
	background-color: grey;
}

.aboutus-bottom-section{
	border-bottom: 5px solid black;
}
.aboutus-top {
	height: 25rem;
}

.aboutus-img {
	margin: 20px 0px;
	background-image: url("../img/aboutus_main_640.jpg");
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	border-radius: 15px;
}

.aboutus-text-top {
	margin-top: 60px;
	font-size: 1.4rem;
	text-shadow: 0px 2px 5px black;
}

.aboutus-text-bottom {
	margin: 25px;
	font-size: 1rem;
	text-shadow: 0px 2px 5px black;
}

.aboutus-top-section .btn {
	padding: 10px 20px;
	font-weight: bold;
	font-size: 1.2rem;
	color: white;
	background-color: blanchedalmond;
	text-shadow: 0px 0px 5px black;
	text-transform: uppercase;
	border-top-left-radius: 25px;
	border-bottom: 3px solid #000;
	border-bottom-right-radius: 25px;
}

.aboutus-top-section h2 {
	margin-top: 15px;
	font-family: "Sedgwick Ave", cursive;
	letter-spacing: 20px;
	text-shadow: 0px 0px 5px black;
}

.carousel-inner img {
	height: 16rem;
	width: auto;
	object-fit: contain;
}

/* gallery */

.gallery{
	border-bottom: 5px solid black;
	box-shadow: 0px 5px 20px blanchedalmond;
}

.gallery h2 {
	font-size: 2rem;
	font-family: "Sedgwick Ave", cursive;
	letter-spacing: 20px;
	text-shadow: 0px 0px 5px blanchedalmond;
}
.card {
	margin: 30px;
	height: 385px;
	box-shadow: 0px 0px 10px black;
	
	overflow: hidden;
}
.card img{
	width: auto;
	height: 250px;
	transition: transform 0.5s;
}
.card img:hover{
	transform: scale(1.1);
}
.card-text {
	font-size: 0.7rem;
}

.card-footer {
	font-family: "Sedgwick Ave", cursive;
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 5px;
	text-shadow: 0px 0px 1px black;
	text-transform: uppercase;
}

/* contact */

.contact{
	background-color: grey;
}

.contact h2{
	margin-bottom: 30px;
	font-size: 2rem;
	font-family: "Sedgwick Ave", cursive;
	letter-spacing: 20px;
	text-shadow: 0px 2px 5px black;
	color: white;
}

.contact h4{
	margin-bottom: 20px;
	font-size: 1.7rem;
	color: white;
	text-transform: uppercase;
	text-shadow: 0px 2px 5px black;
}

.contact p{
	margin-bottom: 20px;
	font-size: 1rem;
	color: white;
	text-shadow: 0px 2px 5px black;
}

.contact .form{
	margin-top: 20px;
}

.contact-text{
	margin-bottom: 30px;
	font-size: 1rem;
	color: white;
	text-shadow: 0px 2px 5px black;
}

.contact label{
	margin-bottom: 5px;
	font-size: 0.9rem;
	font-weight: bold;
	color: white;
	text-shadow: 0px 2px 5px black;
}

.contact input, .contact textarea, .contact select{
	border: 1px solid black;
}

.contact form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact .btn-send{
	padding: 10px 20px;
	margin-top: 20px;
	color: white;
	text-shadow: 0px 2px 5px black;
	transition: background-color 0.5s, color 0.5s;
}

.contact .btn-send:hover{
	background-color: white;
	color: black;
}

/* media */

@media (min-width:400px) {
	.card{
		height: 460px;
	}
	.card-text{
		font-size: 0.8rem;
	}
}
@media (min-width:500px) {
	.gallery h2, .contact h2{
		font-size: 3rem;
	}
	.card{
		height: 520px;
		width: auto;
	}
	.card img{
		height: 350px;
	}
	.contact .form-control{
		width: 400px;
		height: 40px;
	}
	.contact .textarea-form{
		height: 200px;
	}
}

@media (min-width: 768px) {
	.header {
		height: 30rem;
		background-size: 85%;
		background-repeat: no-repeat;
	}
	.header h1 {
		font-size: 4rem;
	}
	.header .welcome-text {
		font-size: 1.5rem;
	}
	.navbar i {
		font-size: 3rem;
	}
	.navbar button {
		font-size: 1.5rem;
	}
	.aboutus-bottom {
		margin-top: 20px;
	}
	.carousel-inner img {
		height: 25rem;
	}
	.gallery h2, .contact h2{
		margin-top: 25px;
		font-size: 4rem;
	}
	.card{
		height: 450px;
	}
	.card img{
		height: 230px;
	}
	.card-title{
		font-size: 1.5rem;
	}
	.card-text{
		font-size: 1rem;
	}
	.contact label{
		font-size: 1rem;
	}
	.contact h4{
		font-size: 2.3rem;
	}
	.contact p{
		font-size: 1.3rem;
	}
	.contact .form-control{
		width: 500px;
	}
}

@media (min-width: 992px) {
	.header {
		background-image: url("../img/header_img_1920.jpg");
	}
	.aboutus-bottom {
		margin-top: 70px;
	}
	.aboutus-text-bottom {
		font-size: 1.1rem;
	}
	.aboutus-container {
		position: relative;
	}
	.aboutus-img {
		background-image: url("../img/aboutus_main_1920.jpg");
	}
	.aboutus-right {
		position: absolute;
		left: 50%;
		top: 20%;
	}
	.carousel-inner img {
		margin-top: 150px;
		height: 35rem;
	}
	.card{
		height: 500px;
	}
	.contact-text{
		font-size: 1.2rem;
	}
	.contact label{
		font-size: 1.4rem;
	}
	.contact-text{
		font-size: 1.5rem;
	}
	.contact .form-control{
		width: 700px;
	}
}

@media (min-width: 1200px) {
	.header {
		background-size: 60%;
	}
	.navbar i {
		font-size: 3.5rem;
	}
	.nav-link {
		margin-left: 2.1rem;
		font-size: 1.4rem;
	}
	.card{
		height: 450px;
	}
}

@media (min-width: 1400px) {
	.carousel-inner img {
		height: 30rem;
		object-fit: contain;
	}
	.gallery h2, .contact h2{
		font-size: 5rem;
	}
	.card{
		height: 500px;
	}
	.card img{
		height: 280px;
	}
}
